body {
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    #93E9BE;
    padding-top: 5rem;
}
h3 {
    padding-top: 1em;
}
.iframe-container {
    padding: 1rem;
    
}
.link {
    color: black;
}
.link :active {
    text-decoration: underline;
}
.cards-list {
    list-style-type: none;
    padding-top: 1rem;
}
.card-col {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .body { padding-top: 15rem;}
}