body {
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    #93E9BE;
    padding-top: 10em;
}
h3 {
    padding-top: 3em;
}
.iframe-container {
    padding: 1rem;
    
}
.link {
    color: black;
}
.link :active {
    text-decoration: underline;
}
.cards-list {
    list-style-type: none;
    padding-top: 1rem;
    margin: 10px;
}
.card-col {
    flex-direction: space-around;
    margin-top: 1rem;
    /* margin-right: 1rem;  */
}
.card-details {
    margin-top: 20px;
    font-size: 10px !important;
}
.card-thumbnail img {
    display: flex;
    justify-content: center;
    max-width: 150px;
    margin: 20px;
}
