/* .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
      
      
.container .item {
        flex: 1;
    } */

.my-modal .modal-content{
    display:flex !important;
    flex-direction: column;
    justify-content: space-evenly !important;
    padding: 45.5px;
    
    align-content: center !important;
    position: absolute !important;
    
    margin: auto;

    width: 754px;
    height: 535px;
    left: 343px;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #D7B0FF;
    /* Base/ Base */

    border: 0.5px solid #EFEFEF;
    box-sizing: border-box;
    /* Drop */

    box-shadow: 0px 4px 10px rgba(108, 88, 128, 0.4);
    border-radius: 10px;
}
.modal-content {
    width: 754px;
    }
.modal-dialog {
    margin-left: 285px !important  
    }
@media screen and (max-width: 1000px) {
.modal-dialog {
     margin-left: 100px !important
   }
 }

hr{
    width: 70%;
    text-align:left;
    margin-left:10%;

    /* color: #D7B0FF, 100%; */
}
.modal-title {

    font-size: 34px;
    line-height: 51px;
}

.modal-body h4{
    font-size: 24px;
    text-align: center;
}
.next-button{
    text-align: right;
}