
.login-card {
    align-content: center !important;
    position: absolute !important;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    #D7B0FF !important;
    box-shadow: 0px 4px 10px rgba(108, 88, 128, 0.4);
    border-radius: 10px;
    padding: 3rem;
}
.login-container {
    display: flex;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: none;
}
.card-img-top{
    width: 206.64px;
    height: 85.76px;
}
