h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  color: #000000;
  font-weight: bold;
}

h6 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #000000;
}

.email {
  border-style: ridge;
  border-width: 2px;
  padding: 5px;
}

/* .button {
  margin: 0;
  width: "184";
  height: "39px";
  justify-content: "center";
  align-items: "center";
  position: absolute;
  background: #ffffff;
  border: 1px solid #808080;
  box-sizing: border-box;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
